<f:layout name="Default" />

<f:section name="Header">
    <f:render partial="DataProcMenu" arguments="{_all}"/>
</f:section>

<f:section name="Main">
    <f:comment><!-- Hero section --></f:comment>
    <f:cObject typoscriptObjectPath="lib.content" data="1"></f:cObject>

    <f:comment><!-- Game teaser section --></f:comment>
    <div class="bg-body-tertiary py-5">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.content" data="2"></f:cObject>
        </div>
    </div>

    <f:comment><!-- Main content section --></f:comment>
    <div class="container">
        <f:cObject typoscriptObjectPath="lib.content" data="0"></f:cObject>
    </div>

    <f:comment><!-- CTA section --></f:comment>
    <f:cObject typoscriptObjectPath="lib.content" data="3"></f:cObject>
</f:section>

<f:section name="Footer">
    <f:render partial="Footer" arguments="{_all}"></f:render>
</f:section>
