.event {
    position: relative;
    height: toRem(680);

    &--image {
        height: 100%!important;
        width: 100%!important;
        object-fit: cover;
    }

    &--contents {
        position: absolute;
        bottom: toRem(30);
        left: toRem(20);
    }

    &--title, &--button {
        color: $color__white;
        text-transform: uppercase;
    }

    &--title {
        max-width: toRem(100);
        margin: 0!important;
        font-size: toRem(28);
        font-weight: 900;
    }

    &--button {
        display: flex;
        align-items: center;
        font-weight: 300;
        letter-spacing: 1px;

        &:hover {
            border-bottom: 1px solid $color__white;
        }

        .icon-arrow {
            position: relative;
            display: block;
            height: toRem(1);
            width: toRem(20);
            margin-left: toRem(8);
            background: $color__white;

            &:before, &:after {
                content: " ";
                position: absolute;
                width: 7px;
                height: 1px;
                background: $color__white;
            }

            &:before {
                top: toRem(-3);
                right: toRem(-1);
                transform: rotate(45deg);
            }

            &:after {
                top: toRem(2);
                right: toRem(-1);
                transform: rotate(-45deg);
            }
        }
    }
}