<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="py-5 text-center">
    <f:render partial="Header/All" arguments="{_all}" />
    <div class="sponsor-container">
        <div class="sponsor-grid">
            <f:for each="{records}" as="sponsor">
                <div class="sponsor-item">
                    <f:link.typolink parameter="{sponsor.data.url}">
                        <f:image image="{sponsor.image.0}" alt="{sponsor.data.title}" width="150" height="auto" />
                    </f:link.typolink>
                </div>
            </f:for>
        </div>
    </div>
</div>

</html>
