<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="call-to-action py-5">
    <div class="container d-md-flex align-items-center text-center text-md-start">
        <div class="text-uppercase">
            <p class="mb-0 text-white-50">{data.subheader}</p>
            <h3 class="fs-1">{data.header}</h3>
        </div>
        <f:if condition="{data_buttons -> f:count()} >= 1">
            <f:for each="{data_buttons}" as="button" iteration="iterator">
                <f:link.typolink parameter="{button.data.url}" class="btn btn-primary me-2 {f:if(condition: iterator.isFirst, then: 'ms-md-auto')}">
                    {button.data.title}
                </f:link.typolink>
            </f:for>
        </f:if>
    </div>
</div>

</html>

