<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<h3>{data.header}</h3>
<span>{data.game_results_mode}</span>

<f:for each="{results}" as="result">
    <div>
        {result.homeTeam.name} : {result.awayTeam.name}<br />
        <f:format.date date="{result.datetime}" format="d.m.Y" /><br />
        {result.location}
        <f:if condition="{result.result}">
            <br />
            {result.result.home} : {result.result.away}
        </f:if>
        <br /><br />
    </div>
</f:for>

</html>
