<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:render partial="Header/All" arguments="{_all}" />

<div class="row news--row">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="news">
            <f:image class="news--image" src="EXT:football/Resources/Public/Images/News/15th_charity_tournament.jpg" width="415" />
            <p class="news--date">24 Feb 2024</p>
            <h4 class="news--title">15th charity tournament </h4>
            <p class="news--description">The big soccer spectacle will take place for the 15th time. We have once again invited soccer teams from the region and many have already confirmed their participation.  Our charity tournament is also always a meeting point for all soccer fans in the region to get together, chat or even have a beer together.</p>
            <a class="news--button" href="/news">Learn more <span class="icon-arrow"></span></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="news">
            <f:image class="news--image" src="EXT:football/Resources/Public/Images/News/get_ready_for_another_exciting_matches.jpg" width="415" />
            <p class="news--date">10 Jun 2024</p>
            <h4 class="news--title">Get ready for another exciting match!</h4>
            <p class="news--description">On Thursday, 18.04.2023 at 16.30 the time has come, then the current 3rd of the regional league, our FC Bigfoot, meets the rival SurfCamp League. Here is some information about the game: Access to the stadium is possible from 14.30. Catering will be provided.</p>
            <a class="news--button" href="/news">Learn more <span class="icon-arrow"></span></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="news">
            <f:image class="news--image" src="EXT:football/Resources/Public/Images/News/our_new_supporter_lunamedia.jpg" width="415" />
            <p class="news--date">13 April 2024</p>
            <h4 class="news--title">Our new supporter: Luna Media</h4>
            <p class="news--description">A Powerful Partnership: We're thrilled to welcome Luna Media as our newest sponsor! Their support promises to elevate our club to even greater heights, both on and off the field.</p>
            <a class="news--button" href="/news">Learn more <span class="icon-arrow"></span></a>
        </div>
    </div>
</div>
</html>
