//BASE COLORS
$color__white: #ffffff;

//PRIMARY COLORS
$color__primary--dark-blue: #002345;
$color__light-gray: #ECECE7;
$color__primary: #2D479A;
$color__primary-red: #FF3232;

//TEXT COLORS
$color__text__default: $color__primary--dark-blue;

//PLACEHOLDER COLOR
$color__text__placeholder: #B6B6B6;
