@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
    url('../Fonts/Lato/Lato-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../Fonts/Lato/Lato-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
    url('../Fonts/Lato/Lato-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../Fonts/Lato/Lato-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
    url('../Fonts/Lato/Lato-Bold.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../Fonts/Lato/Lato-Bold.woff2') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local(''),
    url('../Fonts/Lato/Lato-Heavy.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../Fonts/Lato/Lato-Heavy.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-primary: 'Lato', sans-serif;