//global styles
@import "footer";
@import "typography";
@import "hero";

// temporary (?) limiting images to the container width so we don't have overflows while
// content elements aren't properly styled
.container img {
  max-width: 100%;
  height: auto;
}

//will move this into the nav file after merging
.navbar {
  z-index: 1;
}
