body, p, a {
    font-family: $font-primary;
}

p {
    font-size: toRem(18);
    line-height: toRem(30);
    font-weight: 300;
}

h2 {
    font-family: $font-primary;
    font-size: toRem(62);
    font-weight: 900;
    line-height: toRem(72);
    letter-spacing: toRem(1);
    color: $color__text__default;
    margin-top: toRem(60);
}

h4 {
    font-size: toRem(24);
    line-height: toRem(36);
    font-family: $font-primary;
    font-weight: 700;
}

a {
    color: $color__primary-red;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid $color__primary-red;
    }

    &.main-logo {
        &:hover {
            border: 0;
        }
    }
}
