.btn-primary {
    padding: toRem(8) toRem(30);
    background-color: $color__primary;
    border-color: $color__primary;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: $color__white;
        color: $color__primary;
        border-color: $color__primary;
    }
}